*,
*::before,
*::after {
  box-sizing: border-box;
}

.sudoku-grid {
  padding: 30px 5%;
  text-align: center;}
  .sudoku-grid .sudoku {
    width: 400px;
    height: 400px;
    margin-left: 2%;
    border: 2px solid #7C808B; 
    border-collapse: collapse;
    display: inline-table; }
    .sudoku-grid .sudoku .cell {
        background: #FCFCFC;}
    .sudoku-grid .sudoku .highlighted-cell {
      background: rgb(237,252,252); }
    .sudoku-grid .sudoku .current-cell {
      background: rgb(209,250,250);
      -webkit-box-shadow: inset 0 0 0 1px rgb(98,237,239);
      box-shadow: inset 0 0 0 1px rgb(98,237,239); }
    .sudoku-grid .sudoku td {
      width: 11.11%;
      position: relative;
      border: 1px solid #D8DCE4; }
    .sudoku-grid .sudoku td:after {
      content: '';
      display: block;
      margin-top: 100%; }
    .sudoku-grid .sudoku input {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: none;
      text-align: center;
      font-family: 'Roboto Mono', monospace;
      font-size: 20px; }
    .sudoku-grid .sudoku input:focus {
      outline: none; }
    .sudoku-grid .sudoku input::-webkit-outer-spin-button,
    .sudoku-grid .sudoku input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; }
    .sudoku-grid .sudoku .br {
      border-right: 2px solid #D8DCE4; }
    .sudoku-grid .sudoku .bb {
      border-bottom: 2px solid #D8DCE4; }

.sudoku-form {
    display: block;
    width: auto;
}
.sudoku-actions {
    display: inline-block;
}
.sudoku-actions #solve {
  display: block;
  outline: none;
  text-align: center;
  padding: 0.35em 1.2em;
  border-radius: 0.12em;
  border:0.1em solid rgba(92,189,187,1);
  color: rgba(92,189,187,1);
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  background-color: rgb(178, 224, 223);
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 18px; }

.sudoku-actions #solve:hover, .sudoku-actions #solve:disabled {
  text-decoration: none;
  background: rgba(92,189,187,1);
  color: #FCFCFC; }

  @media all and (max-width:765px){
      .sudoku-actions #solve {
          width: 200px;
          display: inline-block;
      }
      .sudoku-actions {
          margin-left: 8px;
          margin-top: 10px;
      }
  }

  @media all and (min-width:765px){
      .sudoku-actions #solve {
          width: 27vw;
      }

      .sudoku-buttons {
          display: inline-table;

      }
      .sudoku-actions {
          padding-left: 5%;
          text-align: left;
      }
  }

  @media all and (min-width:930px){
      .sudoku-actions #solve {
          width: 252.44px;
      }
  }
